@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap");
.table1 {
  position: relative;
  align-content: center;
  border-style: none;
  border-color: #3c3f48;
}
.name {
  width: calc(100%-190px);
  padding-left: 10px;
}
.pic {
  text-align: right;
}
table {
  background-color: #4c555f;
}
body {
  /* background-color: rgb(79, 25, 129); */
  background-image: url("https://www.wallpapertip.com/wmimgs/66-666819_website-design-background-creative-background-image-for-website.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  color: white;
}
.my_pic {
  position: relative;
  width: 190px;
}
.text {
  /* display:flex; */
  align-items: center;
  /* padding-bottom: 3 0; */
  padding: 3px 10px;
}
body {
  font-family: "Ubuntu", sans-serif;
}
.contact_head {
  font-size: 20px;
}
.education_head {
  padding-top: 5px;
  font-size: 20px;
  padding-left: 5px;
}

.education_head,
.contact_head {
  padding-left: 5px;
}

/* .icon {
  /* padding: 3px 10px; */
  /* object-fit: contain; */
  /* border-radius: 7px; */
  /* width: 22px; */
  /* padding-left: 8px; */
  /* align-self: center; */
  /* height: 29px; */
  /* justify-content: center; */
  /* color: rgb(146, 0, 146); */
  /* background-color: white; */
} */
.education_head:after {
  content: "";
  padding-bottom: 10px;
}
.email,
.phone,
.address,
.inter,
.school,
.university {
  border-radius: 10px;
  padding-left: 8px;
  align-self: center;
  height: 37px;
  width: fit-content;
  /* justify-content: center; */
  color: rgb(146, 0, 146);
  background-color: white;
  margin-bottom: 5px;
}
.school,
.university,
.inter,
.address,
.phone,
.email,
.education_head {
  display: flex;
}
/* .university {
  display: flex;
} */
/* .email {
  display: flex;
} */
/* .phone {
  display: flex;
} */
/* .address {
  display: flex;
} */
/* .inter {
  display: flex;
} */
